{% extends 'devices/base.html' %}

{% block page_title %}
    {{ device.name }} ({{ device.location.name }})
{% endblock %}

{% block content %}
    <a href="{% url 'devices:location' device.location_id %}">Back to location</a>
    <table>
        <tr>
            <td>
                config file
            </td>
            <td>
                :
            </td>
            <td>
                {{ device.config_file }}
            </td>
        </tr>
    </table>
    {{ device_config.get_details_html | safe }}
{% endblock %}