<h1>{{ device.name }} ({{ device.location.name }})</h1>
<a href="{% url 'devices:location' device.location_id %}">Back to location</a>
<table>
    <tr>
        <td>
            type
        </td>
        <td>
            :
        </td>
        <td>
            {{ device.type }}
        </td>
    </tr>
    <tr>
        <td>
            address
        </td>
        <td>
            :
        </td>
        <td>
            {{ device.address }}
        </td>
    </tr>
    <tr>
        <td>
            value
        </td>
        <td>
            :
        </td>
        <td>
            {{ device.value }}
        </td>
    </tr>
</table>