<h1>{{ device.name }} ({{ device.location.name }})</h1>
<a href="{% url 'devices:location' device.location_id %}">Back to location</a>
<table>
    <tr>
        <td>
            type
        </td>
        <td>
            :
        </td>
        <td>
            {{ device_type_label }}
        </td>
    </tr>
    <tr>
        <td>
            address
        </td>
        <td>
            :
        </td>
        <td>
            {{ device.address }}
        </td>
    </tr>
    <tr>
        <td>
            value
        </td>
        <td>
            :
        </td>
        <td>
            {{ device.value }}
        </td>
    </tr>
</table>
{% for control_input_type in device.get_control_input_type %}
    {% if control_input_type.label %}
        <label for="device_{{ device.id }}">{{ control_input_type.label }}</label>
    {% endif %}
    <input type="{{ control_input_type.type }}" id="device_{{ device.id }}"
           name="device_{{ device.id }}"
    {% for param, value in control_input_type.params.items %}
        {{ param }}="{{ value }}"
    {% endfor %} >
{% endfor %}
