{% extends 'devices/base.html' %}

{% load i18n %}

{% block page_title %}
    {% trans "Locations" %}
{% endblock %}

{% block content %}

    {% if locations %}
        <div class="d-grid gap-2 d-md-block">
            {% for location in locations %}
                <a href="{% url 'devices:location' location.id %}"
                   class="btn btn-outline-light" role="button"
                >
                    {{ location }}
                </a>
            {% endfor %}
        </div>
    {% else %}
        <p>{% trans "No locations available." %}</p>
    {% endif %}

{% endblock %}
