{% extends 'devices/base.html' %}

{% block page_title %}
    {{ location_name }}
{% endblock %}

{% block content %}
    <a href="{% url 'devices:index' %}">Back to locations</a>
    {% if device_config_list %}
        <fieldset>
            <table>
                {% for device_config in device_config_list %}
                    <tr style="outline: thin solid darkgrey">
                        <td>
                            <a href="{% url 'devices:device' device_config.device.id %}">{{ device_config.device.name }}</a>
                        </td>
                        <td>
                            {% include device_config.get_status_template with device=device_config.device %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </fieldset>
    {% else %}
        <p>No devices available in {{ location_name }}.</p>
    {% endif %}

{% endblock %}