{% load static %}
{% load i18n %}
<fieldset>
    {% trans "Active days:" %}
    <ul>
        {% for day in device_config.get_active_days %}
            <li>
                {{ day.get_day_display }}
                <input type="submit" value="{% trans "Remove" %}" class="rp_edit_buttons"
                       form="form_remove_active_day{{ device.id }}_{{ day.day }}">
                <form action="{% url 'devices:periodic_relay_remove_active_day' device.id %}" method="post"
                      id="form_remove_active_day{{ device.id }}_{{ day.day }}">
                    {% csrf_token %}
                    <input type="hidden" name="day" value="{{ day.day }}">
                    <input type="hidden" name="next" value="{{ request.path }}">
                </form>
            </li>
        {% endfor %}
    </ul>
    <form action="{% url 'devices:periodic_relay_add_active_day' device.id %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}">
        <label for="select_day">{% trans "Add new day:" %}</label>
        <select name="day" id="select_day">
            <option value="">{% trans "Select day" %}</option>
            {% for day in device_config.get_inactive_days %}
                <option value="{{ day.0 }}">{{ day.1 }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="{% trans "Add" %}">
    </form>
</fieldset>
<fieldset>
    {% trans "Active periods:" %}
    <ul>
        {% for period in device_config.get_active_periods %}
            <li>{{ period.get_begin_display }} - {{ period.get_end_display }}
                <input type="submit" value="{% trans "Remove" %}" class="rp_edit_buttons"
                       form="form_remove_active_period{{ device.id }}_{{ period.id }}">
                <form action="{% url 'devices:periodic_relay_remove_active_period' device.id %}" method="post"
                      id="form_remove_active_period{{ device.id }}_{{ period.id }}">
                    {% csrf_token %}
                    <input type="hidden" name="period_id" value="{{ period.id }}">
                    <input type="hidden" name="next" value="{{ request.path }}">
                </form>
            </li>
        {% endfor %}
    </ul>
    <form action="{% url 'devices:periodic_relay_add_active_period' device.id %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}">
        {% trans "Add new: " %}
        <label for="begin_time">{% trans "begin:" %}</label>
        <input type="time" name="begin" id="begin_time">
        <label for="end_time">{% trans "end:" %}</label>
        <input type="time" name="end" id="end_time">
        <input type="submit" value="{% trans "Add" %}">
    </form>
</fieldset>
<input type="button" value="{% trans "edit" %}" class="show_rp_edit_buttons" onclick="show_edit_buttons_clicked()">
<input type="button" value="{% trans "hide edit" %}" class="rp_edit_buttons" onclick="hide_edit_buttons()">


<script>
    $(document).ready(function () {
        show_edit_buttons_if_needed();
    });
</script>
