<fieldset>
    Active days:
    <ul>
        {% for day in device_config.get_active_days %}
            <li>
                {{ day.get_day_display }}
                <input type="submit" value="Remove" form="form_remove_active_day{{ device.id }}{{ day.day }}">
                <form action="{% url 'devices:periodic_relay_remove_active_day' device.id %}" method="post"
                      id="form_remove_active_day{{ device.id }}{{ day.day }}">
                    {% csrf_token %}
                    <input type="hidden" name="day" value="{{ day.day }}">
                    <input type="hidden" name="next" value="{{ request.path }}">
                </form>
            </li>
        {% endfor %}
    </ul>
    <form action="{% url 'devices:periodic_relay_add_active_day' device.id %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}">
        <label for="select_day">Add new day:</label>
        <select name="day" id="select_day">
            <option value="">Select day</option>
            {% for day in device_config.get_inactive_days %}
                <option value="{{ day.0 }}">{{ day.1 }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Add">
    </form>
</fieldset>
<fieldset>
    Active periods:
    <ul>
        {% for period in device_config.get_active_periods %}
            <li>{{ period.get_begin_display }} - {{ period.get_end_display }}</li>
        {% endfor %}
    </ul>
</fieldset>
