{% load i18n %}
{% if device_config.state_available %}
    <label for="radio_{{ device.id }}_0">0</label>
    <input type="radio" id="radio_{{ device.id }}_0" name="state" value="off"
           form="form_update_relay{{ device.id }}"
            {% if not device_config.is_active %}
           checked
            {% endif %}
           onchange="this.form.submit()">
    <label for="radio_{{ device.id }}_1">1</label>
    <input type="radio" id="radio_{{ device.id }}_1" name="state" value="on"
           form="form_update_relay{{ device.id }}"
            {% if device_config.is_active %}
           checked
            {% endif %}
           onchange="this.form.submit()">
    <form action="{% url 'devices:relay_update' device.id %}" method="post"
          id="form_update_relay{{ device.id }}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}">
    </form>
{% else %}
    <span style="color: gray;">{% trans "Relay state not available" %}</span>
{% endif %}